<div class="splash-container" (click)="startApp()">
  <div class="stars-overlay"></div>
  <div class="twinkle-stars"></div>
  
  <div class="mouse-stars">
    @for (star of stars; track $index) {
    <div
      class="mouse-star"
      [style.left.px]="star.x"
      [style.top.px]="star.y"
      [style.opacity]="star.opacity"
    >
      ✦
    </div>  
    } 
  </div>

  <div class="content-wrapper">
    <div class="book-container">
      <div class="magic-hover-wrapper">
        <div class="book-glow"></div>
        <img src="../../images/magic_book1.png" alt="Drawn Worlds" class="magic-book-img" />
        <div class="particles-container">
          <div class="particle" style="--d: 1s; --x: 100px; --y: -100px;"></div>
          <div class="particle" style="--d: 1.5s; --x: -120px; --y: 80px;"></div>
          <div class="particle" style="--d: 2s; --x: 150px; --y: 120px;"></div>
          <div class="particle" style="--d: 0.5s; --x: -80px; --y: -150px;"></div>
          <div class="particle" style="--d: 2.5s; --x: 50px; --y: 200px;"></div>
        </div>
      </div>
    </div>

    <div class="footer-section">
      <p class="tap-text">✦ TAP ANYWHERE TO OPEN ✦</p>
    </div>
  </div>
</div>